<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>protected-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,54}</string>
                <key>spriteSize</key>
                <string>{97,33}</string>
                <key>spriteSourceSize</key>
                <string>{145,159}</string>
                <key>textureRect</key>
                <string>{{727,203},{97,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>protected-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,58}</string>
                <key>spriteSize</key>
                <string>{111,43}</string>
                <key>spriteSourceSize</key>
                <string>{145,159}</string>
                <key>textureRect</key>
                <string>{{682,130},{111,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>protected-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{123,129}</string>
                <key>spriteSourceSize</key>
                <string>{145,159}</string>
                <key>textureRect</key>
                <string>{{487,1},{123,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>protected-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{121,137}</string>
                <key>spriteSourceSize</key>
                <string>{145,159}</string>
                <key>textureRect</key>
                <string>{{364,1},{121,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>protected-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{119,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,159}</string>
                <key>textureRect</key>
                <string>{{1,1},{119,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>protected-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{119,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,159}</string>
                <key>textureRect</key>
                <string>{{122,1},{119,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>protected-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{119,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,159}</string>
                <key>textureRect</key>
                <string>{{243,1},{119,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>protected-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,41}</string>
                <key>spriteSize</key>
                <string>{125,77}</string>
                <key>spriteSourceSize</key>
                <string>{145,159}</string>
                <key>textureRect</key>
                <string>{{729,124},{125,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>protected-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,36}</string>
                <key>spriteSize</key>
                <string>{139,83}</string>
                <key>spriteSourceSize</key>
                <string>{145,159}</string>
                <key>textureRect</key>
                <string>{{277,148},{139,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>protected-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,30}</string>
                <key>spriteSize</key>
                <string>{137,87}</string>
                <key>spriteSourceSize</key>
                <string>{145,159}</string>
                <key>textureRect</key>
                <string>{{138,148},{137,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>protected-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,25}</string>
                <key>spriteSize</key>
                <string>{135,93}</string>
                <key>spriteSourceSize</key>
                <string>{145,159}</string>
                <key>textureRect</key>
                <string>{{1,148},{135,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>protected-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{131,99}</string>
                <key>spriteSourceSize</key>
                <string>{145,159}</string>
                <key>textureRect</key>
                <string>{{418,140},{131,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>protected-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,15}</string>
                <key>spriteSize</key>
                <string>{129,107}</string>
                <key>spriteSourceSize</key>
                <string>{145,159}</string>
                <key>textureRect</key>
                <string>{{551,132},{129,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>protected-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{127,115}</string>
                <key>spriteSourceSize</key>
                <string>{145,159}</string>
                <key>textureRect</key>
                <string>{{612,1},{127,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>protected-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{125,121}</string>
                <key>spriteSourceSize</key>
                <string>{145,159}</string>
                <key>textureRect</key>
                <string>{{729,1},{125,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>protected.png</string>
            <key>size</key>
            <string>{855,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a937bfb2fdf7b0f3513463b644bdcdc1:c714f9174ec81113a7a9ab9014ba86e1:70d925ba8211a2d383214e751d05839b$</string>
            <key>textureFileName</key>
            <string>protected.png</string>
        </dict>
    </dict>
</plist>
